WATSONX_API_KEY=
WATSONX_PROJECT_ID=7d6c134e-1972-4e19-a2ad-9557782a4adb
WATSONX_URL=https://eu-de.ml.cloud.ibm.com
WATSONX_MODEL_ID=mistralai/mistral-small-3-1-24b-instruct-2503
WATSONX_EMBEDDING_MODEL_ID=ibm/granite-embedding-278m-multilingual
MOCK_MODE=false
