# Database
DATABASE_URL=postgresql+psycopg://postgres.poxyqmsoybrnvhrmrsrm:Bileciks99*@aws-0-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require

# JWT
JWT_SECRET=change-me-to-a-long-random-string
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=60

# Watsonx (existing)
WATSONX_API_KEY=
WATSONX_PROJECT_ID=
WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_MODEL_ID=ibm/granite-3-8b-instruct
MOCK_MODE=true

# Jira Cloud
JIRA_BASE_URL=https://your-domain.atlassian.net
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=
JIRA_DEFAULT_ISSUE_TYPE=Task
JIRA_DEFAULT_ASSIGNEE_ACCOUNT_ID=
JIRA_WEBHOOK_SECRET=
JIRA_FIELD_SOURCE_CASE_ID=customfield_10074
JIRA_FIELD_FEEDBACK_ISSUE_TYPE_ID=customfield_10072
JIRA_FIELD_TEAM_ID=customfield_10075
JIRA_FIELD_RECOMMENDED_ACTION_ID=customfield_10073
